<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150670604014-fhmn8nhhlqh37kjgorkverk6u78k3rlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150670604014-fhmn8nhhlqh37kjgorkverk6u78k3rlc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>150670604014-61qdtbnv9phvf3igg31fif2pqhtjbtdh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQutXUKdHi5T6R2-DDapVFI4KxkaRK84A</string>
	<key>GCM_SENDER_ID</key>
	<string>150670604014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ua.pharmatracker.pharmatracker</string>
	<key>PROJECT_ID</key>
	<string>tlogic-aed50</string>
	<key>STORAGE_BUCKET</key>
	<string>tlogic-aed50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150670604014:ios:a75e8af59fde7cc1c8a5ff</string>
	<key>DATABASE_URL</key>
	<string>https://tlogic-aed50.firebaseio.com</string>
</dict>
</plist>